.navigation {
  width: 100vw;
  top: 0;
  color: white;
}
/* Transparent Navbar (Behind Hero Section) */
.navigation-transparent {
    position: absolute;
    background-color: transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    z-index: -10;
  }
  
  /* Sticky Navbar (After Scrolling) */
  .navigation-scrolled {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .navigation-brand,
  .navigation-link {
    color: white !important;
  }


/* Enable dropdown on hover */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
}

.dropdown-menu {
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
